<form (ngSubmit)="onSubmit()" #userForm="ngForm">
     <div style="text-align: center;"></div>
    <h1 style="text-align: center;">Forget Password</h1>
        <!-- <input matInput placeholder="Email ID" type="emailid" id="emailid" name="emailid"
         [(ngModel)]="user.emailid" required #emailid="ngModel"> -->
         <label for="emailid">Enter Playlist to Play</label>
  <input type="emailid" [(ngModel)]="emailid" id="emailid" name="emailid"/>
        <div>
          <button mat-raised-button type="submit" >Submit</button>
          <button style="margin-left:2%;" mat-raised-button color="primary" routerLink="/login">Login</button>
        </div>
    <hr>

    <table class="table table-image" style="background-color: #1DB954;">
        <thead>
            <tr>
                <th style="margin-left:2rem ;" scope="col">Email-Id</th>
                <th style="margin-left:2rem ;" scope="col">Password</th>
                <th style="margin-left:2rem ;" scope="col">Role</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usere of userdata let i=index">
                    <td>{{usere.emailid}}</td>
                    <td>{{usere.password}}</td>
                    <td>{{usere.role}}</td>
            <br><br>
            </tr>
        </tbody>
    </table>
</form>
    

